:root {

    --white-clr: hsl(0, 0%, 100%);
    --white-100: hsl( from var(--white-clr) h s l / 1);
    --white-90: hsl( from var(--white-clr) h s l / 0.9);
    --white-80: hsl( from var(--white-clr) h s l / 0.8);
    --white-70: hsl( from var(--white-clr) h s l / 0.7);
    --white-60: hsl( from var(--white-clr) h s l / 0.6);
    --white-50: hsl( from var(--white-clr) h s l / 0.5);
    
    --dark-clr : #1c1d20;
    --dark-clr__bg : #1c1d20 ;

    --dark-100:  rgb( from var(--dark-clr) r g b / 1);
    --dark-90:   rgb( from var(--dark-clr) r g b / 0.9);
    --dark-80:   rgb( from var(--dark-clr) r g b / 0.8);
    --dark-70:   rgb( from var(--dark-clr) r g b / 0.7);

    --grey-clr: rgb(128, 128, 128);
    --grey-100: rgb( from var(--grey-clr) r g b / 1);
    --grey-90: rgb( from  var(--grey-clr) r g b / 0.9);
    --grey-80: rgb( from  var(--grey-clr) r g b / 0.8);
    --grey-70: rgb( from  var(--grey-clr) r g b / 0.7);
    --grey-40: rgb( from  var(--grey-clr) r g b / 0.4);



    --step--1: clamp(0.8889rem, 0.7863rem + 0.5132vw, 1.2rem);
    --step-0: clamp(1rem, 0.8351rem + 0.8247vw, 1.5rem);
    --step-100: clamp(1.125rem, 0.8776rem + 1.2371vw, 1.875rem);
    --step-200: clamp(1.2656rem, 0.91rem + 1.7784vw, 2.3438rem);
    --step-300: clamp(1.4238rem, 0.927rem + 2.4839vw, 2.9297rem);
    --step-400: clamp(1.6018rem, 0.9221rem + 3.3984vw, 3.6621rem);
    --step-500: clamp(1.802rem, 0.8864rem + 4.5783vw, 4.5776rem);

    --inf-scroll-fs : clamp(2rem, 9vw, 5rem) ;
}


@layer bs, general-styling, components, override;


@layer general-styling {

  .step--3 { font-size: calc(var(--step--1) * 0.8); }
  .step--1 { font-size: var(--step--1); }
  .step-0 { font-size: var(--step-0); }
  .step-100 { font-size: var(--step-100); }
  .step-200 { font-size: var(--step-200); }
  .step-300 { font-size: var(--step-300); }
  .step-400 { font-size: var(--step-400); }
  .step-500 { font-size: var(--step-500); }

  
  html {
    scrollbar-width: thin; 
    scrollbar-color: var(--grey-40) transparent; 
  }
  
  body {
    /* overflow-x: hidden; */
  }

 

  *, :before, :after {
      margin: 0;
      padding: 0;
      font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
    }
    ::selection {
      background: var(--violet);
      /* background: tomato; */
    }

    :where(h1, h2, h3, h4, h5, h6) {
      text-wrap: balance;
    }

    img {
      max-width: 100%;
      height: auto;
      font-style: italic;
      color: rgb(255 0 0 / .7);
      vertical-align: middle;
      object-fit: cover;
    }
    a {
      color: var(--white-90);
      text-decoration: none;
      cursor: pointer;
    }

} 


@layer components {
  
  .headline-fit {
    text-wrap: initial;

    @media(width > 576px){
        max-width: 16ch; 
        text-wrap:pretty;
    }
}

  .overlap__wrapper {
    isolation: isolate;
    display: grid;

    > * {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
    }
  }
  .icon_img {
    aspect-ratio: 1;
  }

  .arrow__wrapper {
    width: 20px;
  }

  :is(.cta, footer) {
    background-color: var( --dark-clr__bg );
  }

  .magnetic {
    transition: all .5s ease;
  } 

  .shape__wrapper {
    height: 250px;
    clip-path: ellipse(60% 150% at 50% -50%);
    transform-origin: top;
  }


  .cta {
    @media(width > 576px){
        > * {
          width: 80vw ;
          margin-inline: auto;
        } 
    }

    & .arrow__wrapper {
      @media(width < 250px){ display: none}
    }
  }


  .circle-btn {
    width: 120px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
  }

  @media(hover){
    .circle-btn {
      position: relative;
      overflow: hidden;
      isolation: isolate;

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background-color: teal;
        
        transition: scale .5s ease , opacity .5s .2s ease;
        opacity: 0;
        scale: 0;
        z-index: -1;
      }
      
      &:hover:before {
        opacity: 1;
        scale: 1;
      }
    }
  }



}


@layer override {

  .text-white_secondary {
    color: var(--white-90);
  }
  .text-grey_secondary {
    color: var(--grey-70);
  }
  .text-dart_primary {
    color: var(--text-dark);
  }

  .bg-dark_primary {
    background-color: var(--dark-clr__bg);
  }


}














































